.ticket-card {
  display: grid;
  gap: 20px;
}

.ticket-card__scope {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-card__price {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
  text-transform: uppercase;
}
